@font-face{
  font-family: "Poppins";
  src: url("../Assests/Poppins-Regular.ttf");
}

body{
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: "Poppins";
}

.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(65deg, #343434, #555);
}

.container .page{
  width: 95vw;
  height: 98vh;
  background-image: url("../images/wave.svg");
  background-repeat: no-repeat;
  background-size: 200%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative;
}

.container .page .contact-details{
  position: absolute;
  top: 10px;
  left: 5px;
  color: white;
  font-size: 13px;
  font-family: "Poppins";
  padding: 5px;
}

.container .page .contact-details i{
  margin-right: 5px;
}

.container .page .myImage{
  position: absolute;
  top: 5%;
  right: 5px;
  width: 155px;
  height: 155px;
  border-radius: 50%;
}
